h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  text-align: center;
  text-decoration: underline;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: dotted;
  color: blueviolet;
  font-style: italic;
  text-decoration: underline;
}
body {
  background-color: aqua;
}
p {
  text-decoration: solid;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blueviolet;
}
